
#u2288-4
{
	font-family: lato-n4, sans-serif;
}

#u2289-4
{
	font-family: lato-n4, sans-serif;
}

#u2282-4
{
	font-family: lato-n4, sans-serif;
}

#u2280-4
{
	font-family: lato-n4, sans-serif;
}

#u2278-4
{
	font-family: lato-n4, sans-serif;
}

#u2291-4
{
	font-family: lato-n4, sans-serif;
}

#u2293-4
{
	font-family: lato-n4, sans-serif;
}

#u2284-4
{
	font-family: lato-n4, sans-serif;
}

#u2285-4
{
	font-family: lato-n4, sans-serif;
}

#widgetu2287_input,#widgetu2287_prompt,#widgetu2279_input,#widgetu2279_prompt,#widgetu2283_input,#widgetu2283_prompt
{
	font-family: lato, sans-serif;
}

