.version.index /* version checker */
{
	color: #00000E;
	background-color: #611D4B;
}

#page
{
	z-index: 1;
	min-height: 874.5395494443992px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 125.4604505556008px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#u114
{
	z-index: 2;
	width: 418px;
	background-color: transparent;
	position: relative;
	margin-left: 50%;
	left: -209px;
}

#u112
{
	z-index: 3;
	display: block;
}

#u123
{
	z-index: 4;
	width: 193px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
	margin-left: 50%;
	left: -96px;
}

#u121
{
	z-index: 5;
	display: block;
}

#u132
{
	z-index: 6;
	width: 165px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -82px;
}

#u130
{
	z-index: 7;
	display: block;
}

#u143
{
	z-index: 8;
	width: 200px;
	background-color: transparent;
	margin-top: 282px;
	position: relative;
	margin-left: 50%;
	left: -100px;
}

#u141
{
	z-index: 9;
	display: block;
}

#u205
{
	z-index: 10;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 282px;
	position: relative;
	margin-left: 50%;
	left: -61px;
}

#u161
{
	z-index: 11;
	width: 53px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -62px;
}

#u159
{
	z-index: 12;
	display: block;
}

#u170
{
	z-index: 13;
	width: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 8px;
}

#u168
{
	z-index: 14;
	display: block;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 24px;
}

