.version.index /* version checker */
{
	color: #0000E9;
	background-color: #30C49E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 0px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1000px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#u312-17
{
	z-index: 2;
	min-height: 421px;
	background-color: transparent;
	font-size: 42px;
	color: #2A2C7A;
	text-align: center;
	font-family: vt323, sans-serif;
	position: fixed;
	top: 443px;
}

#u312-2,#u312-4
{
	line-height: 63px;
	font-weight: 400;
}

#u312-9
{
	line-height: 63px;
	font-weight: 700;
}

#u312-5,#u312-6,#u312-8
{
	font-weight: 400;
}

#u312-12,#u312-15
{
	line-height: 50px;
	font-weight: 400;
}

#u312-17-bw
{
	z-index: 2;
}

#u339
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 137.40740740740733px;
	width: 100%;
	max-width: 275px;
}

#u337
{
	z-index: 20;
	display: block;
	width: 100%;
}

#u339-wrapper
{
	position: fixed;
	top: 133px;
	z-index: 19;
	left: 50%;
	margin-left: -115px;
	width: 14.33%;
	max-width: 275px;
}

.html
{
	background-color: #E6A9CD;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 24px;
}


