	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1350px;
		padding-bottom: 5583px;
		max-width: 1920px;
	}

	#u94
	{
		margin-top: 8px;
	}

	#u96
	{
		margin-top: 370px;
		width: 56.67%;
		left: 21.67%;
	}

	#u98
	{
		margin-top: 548px;
		width: 39.59%;
		left: 30.21%;
	}

	#u97,#u99
	{
		width: 100%;
	}

	#u101
	{
		margin-top: 704px;
		width: 14.02%;
		left: 43.03%;
	}

	#u102
	{
		width: 21.94%;
	}

	#u104
	{
		width: 21.94%;
		left: 39.04%;
	}

	#u106
	{
		width: 21.94%;
		left: 78.07%;
	}

	#u103,#u105,#u107
	{
		margin-bottom: 1.694915254237288%;
		width: 98.31%;
	}

	#u100
	{
		width: 40px;
		min-height: 40px;
		margin-top: 870px;
		left: 48.96%;
	}


